/* decrease Y-Axis value which Tooltip uses it to place itself on screen */
.MuiTooltip-tooltipPlacementBottom {
  margin: 12px 0px !important;
}

/* change color here to match with other options
TODO: find a better way to do this... */
.MuiInputLabel-shrink {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* fix for tooltip when mouse hovers too fast over the children component,
without this, it will fire on resize event of the iframe. In other words, an
undesirable flickering effect in the UI =( */
.MuiTooltip-popper {
  top: 0 !important;
}

/* remove any margin from html body */
body {
  padding: 0 !important;
  margin: 0px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
