.rdt_TableBody {
  /* this is not good, but didn't find another way to set a static fixed height
  for table body, specially when it has only a single chid entry */
  height: 155px;
  display: flex;
  flex-direction: column;
}

/* remove arrow buttons from input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
